<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel2.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="detailForm">
                <div class="form-group">
                    <label class="form-label">{{ 'google-ecommerce-analytics.blades.store-settings.labels.is-active' | translate }}</label>
                    <div class="form-input">
                        <label class="form-label __switch">
                            <input type="checkbox" ng-model="blade.enableTracking.value"/>
                            <span class="switch"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'google-ecommerce-analytics.blades.store-settings.labels.gtm-id' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.googleTagManagerId.value" type="text" placeholder="{{ 'google-ecommerce-analytics.blades.store-settings.placeholders.gtm-id' | translate }}">
                    </div>
                </div>
				<div class="form-group">
					<label class="form-label">{{ 'google-ecommerce-analytics.blades.store-settings.labels.ga-id' | translate }}</label>
					<div class="form-input">
						<input ng-model="blade.googleAnalyticsTrackingId.value" type="text" placeholder="{{ 'google-ecommerce-analytics.blades.store-settings.placeholders.ga-id' | translate }}">
					</div>
				</div>
            </form>
        </div>
    </div>
</div>