<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoogleAnalyticsTracker.Core" version="4.4.0" targetFramework="net461" />
  <package id="GoogleAnalyticsTracker.Simple" version="4.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="VirtoCommerce.Domain" version="2.24.5" targetFramework="net461" />
  <package id="VirtoCommerce.Platform.Core" version="2.13.15" targetFramework="net461" />
</packages>